<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>eRegistrar - Student List</title>
</head>
<body>
<nav>
    <ul>
        <li><a th:href="@{/eregistrar/home}">Home</a></li>
        <li><a th:href="@{/eregistrar/add}">Register Student</a></li>
    </ul>
</nav>
<h1>Student List</h1>
<table>
    <thead>
    <tr>
        <th>Student Number</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.studentNumber}"></td>
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.lastName}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
